.player-option{
    width:100px;
    height: 100px;
}


#chat-box{
    min-height: 200px;
    overflow: scroll;
    border: 1px solid black;
}

ul{
    list-style: none
}

.active-player{
    border: 2px solid green;
}
